<div class="container">
  <div class="main-wrapper">
    <div class="form-group">
      <button type="button" class="btn-submit btn-info">Add quote</button>
    </div>
    <div class="add-quote-section">
      <app-quote-form></app-quote-form>
    </div>
    <div class="quote-detail-section">
      <div class="header">
        <p>Jane Doe Kimani</p>
        <p><span>xdays</span></p>
      </div>
      <hr />
      <div class="detail">
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id impedit
          maxime, temporibus libero sequi excepturi, quisquam iusto perferendis
          autem fugiat necessitatibus nisi odio nostrum? Perferendis.
        </p>
      </div>
      <hr />
      <div class="btn-group">
        <button type="submit" class="btn-submit btn-info">Like</button>
        <button type="submit" class="btn-submit btn-danger">Dislike</button>
      </div>
    </div>
  </div>
</div>
