<div class="container">
  <div class="main-wrapper">
    <div class="form-group">
      <button
        (click)="toggleDisplayQuoteForm()"
        type="button"
        class="btn-submit btn-info"
      >
        Add quote
      </button>
    </div>
    <div *ngIf="hideAddQuoteForm" class="add-quote-section">
      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
    <div
      class="quote-detail-section"
      *ngFor="let quote of quotes; let i = index"
    >
      <div class="header">
        <p>{{ quote.authorName }}</p>
        <p><span>{{quote.createdOn|timeAgo}}</span></p>
      </div>
      <hr />
      <div class="detail">
        <p>{{ quote.quote }}</p>
      </div>
      <hr />
      <div class="btn-group">
        <a class="btn-vote up-vote"
          (click)="vote('up-vote', i)"><i class="material-icons">thumb_up</i><span>{{quote.upVote}}</span></a
        >
        <a class="btn-vote down-vote"
        (click)="vote('down-vote', i)"><i class="material-icons">thumb_down</i><span>{{quote.downVote}}</span></a
        >
      </div>
    </div>
  </div>
</div>
