/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
*,
*::before,
*::after {
  box-sizing: border-box;
}
.main-wrapper {
  margin: 0.75em auto;
  max-width: 90%;
  padding: 1em;
  border: 1px solid #ced4da;
  border-radius: 4px;
}
.quote-detail-section{
    border: 1px solid #ced4da;
    border-radius: 3px;
    padding: 0.75em;
    margin: 0.75em 0;
}
.quote-detail-section .header p{
    line-height: 0.15;
}
.btn-submit {
  padding: 0 1.25em;
  margin: 0.55em 0;
  border-radius: 4px;
  background-color: #797a7e;
  border: 1px solid #797a7e;
  color: #eeeeee;
  width: 8em;
}
.btn-info:hover {
  background-color: #0fab4d;
}
.btn-danger:hover {
  background-color: #cb4848;
}
.btn-group{
    display: flex;
    /* justify-content: space-between; */
}